<section class="goshopping_product">
	<div class="goshopping_product_block">
		<div class="container">
			<!-- product info -->
			<div class="row">
				<%= render "shared/product_info" %>
			</div>
		</div>
		<div class="goshopping_product_nav">
			<div class="container">
				<!-- product nav -->
				<%= render "shared/nav" %>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-8 col-sm-8 col-md-10 col-lg-10">
				<div class="goshopping_product_comment">
					<!-- Comment show -->
					<div class="goshopping_product_knowledge_item1">
						<% @comments.each do |comment| %>
							<div class="basic_shadow">
					      <h5><%= comment.user.email %></h5>
					      <p><%= simple_format comment.content %></p>
					      <p class="text-muted">
					        <em><%= verbose_data(comment.created_at) %></em>
					      </p>
					    </div>
						<% end %>
					</div>
					<!-- Comment create -->
					<div class="goshopping_product_knowledge_item2 ">
						<div class="basic_shadow">
							<%= form_for [@product, @comment] do |f| %>
								<div class="form-group">
									<%= f.text_area :content, rows: "5", placeholder: "留個言吧 !", class: "form-control" %>
								</div>
								<div class="form-group">
									<%= f.submit class: "btn btn-primary" %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<!-- Random product -->
			<div class="col-4 col-sm-4 col-md-2 col-lg-2">
				<div class="goshopping_product_random"></div>
			</div>
		</div>
	</div>
</section>



