<section class="goshopping_product">
	<div class="goshopping_product_block">
		<div class="container">
			<!-- product info -->
			<div class="row">
				<%= render "shared/product_info" %>
			</div>
		</div>
		<div class="goshopping_product_nav">
			<div class="container">
				<!-- product nav -->
				<%= render "shared/nav" %>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-9 col-sm-9 col-md-9 col-lg-9">
				<div class="goshopping_product_comment">
					<!-- Comment show -->
					<div class="goshopping_product_knowledge_item1">
						<% @comments.each do |comment| %>
							<div class="basic_shadow">
					      <h5><%= comment.user.email %></h5>
					      <p><%= simple_format comment.content %></p>
					      <p class="text-muted">
					        <em><%= verbose_data(comment.created_at) %></em>
					        <% if (user_signed_in? && current_user.admin?) %>
						      	<%= link_to "Delete", product_comment_path(@product, comment), method: :delete, class: "btn btn-outline-danger btn-sm" %>
						      <% end %>
					      </p>
					    </div>
						<% end %>
					</div>
					<!-- Comment create -->
					<% if current_user %>
						<div class="goshopping_product_knowledge_item2 ">
							<div class="basic_shadow">
								<%= form_for [@product, @comment] do |f| %>
									<div class="form-group">
										<%= f.text_area :content, rows: "5", placeholder: "請對此產品發表評鑑吧 !", class: "form-control" %>
									</div>
									<div class="form-group">
										<%= f.submit class: "btn btn-primary" %>
									</div>
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
			<!-- Random product -->
			<div class="col-3 col-sm-3 col-md-3 col-lg-3">
				<%= render "shared/random_product" %>
			</div>
		</div>
	</div>
</section>



