<section class="goshopping_product">
	<div class="goshopping_product_block">
		<div class="container">
			<!-- product info -->
			<div class="row">
				<div class="goshopping_product_image col-5 col-sm-5 col-md-5 col-lg-5">
					<%= image_tag @product.product_image_url, class: "img-fluid" %>
				</div>
				<div class="goshopping_product_info col-7 col-sm-7 col-md-7 col-lg-7">
					<h1><%= @product.name %></h1>
					<h4>
						<span class="badge badge-info"><%= @product.category.name %></span>
					</h4>
					<hr class="hr_item">
					<h3>
						<h3>優惠價：<span><%= @product.product_price %></span>元</h3>
					</h3>
					<div class="goshopping_product_btn basic_shadow">
						<%= link_to "放入我的購物車", "#", class: "btn btn-secondary btn_item" %>
						<%= link_to "加入下次再買清單", "#", class: "btn btn-light btn_item" %>
						<%= link_to "直接結帳", "#", class: "btn btn-warning btn_item" %>
					</div>
				</div>
			</div>
		</div>
		<div class="goshopping_product_nav">
			<div class="container">
				<!-- product nav -->
				<%= render "products/nav" %>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-8 col-sm-8 col-md-10 col-lg-10">
				<div class="goshopping_product_comment">
					<!-- Comment show -->
					<div class="goshopping_product_knowledge_item1">
						<% @product.comments.each do |comment| %>
							<div class="basic_shadow">
					      <h5><%= comment.user.email %></h5>
					      <p><%= simple_format comment.content %></p>
					      <p class="text-muted">
					        <em><%= verbose_data(comment.created_at) %></em>
					      </p>
					    </div>
						<% end %>
					</div>
					<!-- Comment create -->
					<div class="goshopping_product_knowledge_item2 ">
						<div class="basic_shadow">
							<%= form_for [@product, @comment] do |f| %>
								<div class="form-group">
									<%= f.text_area :content, rows: "5", placeholder: "留個言吧 !", class: "form-control" %>
								</div>
								<div class="form-group">
									<%= f.submit class: "btn btn-primary" %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<!-- Random product -->
			<div class="col-4 col-sm-4 col-md-2 col-lg-2">
				<div class="goshopping_product_random"></div>
			</div>
		</div>
	</div>
</section>



