<% @random_product.each do |random_product| %>
	<div class="goshopping_product_random">
		<%= link_to product_path(random_product), class: "card basic_shadow" do %>
			<%= image_tag random_product.product_image_url, class: "card-img-top", alt: "Card image cap" %>
		  <div class="card-body">
		  	<span class="badge badge-warning"><%= random_product.category.name %></span>
		    <p class="card-text text-center">
		    	<span><%= random_product.name %></span><br>
		    	優惠價：<span><%= random_product.product_price %></span>元
		    </p>
		  </div>
		<% end %>
	</div>
<% end %>