<section class="mains_product_index">
	<!-- carousel -->
	<div class="public_carousel"></div>

	<div class="container-fluid">
		<div class="row">
			<% @products.each do |product| %>
				<div class="col-2">
					<%= link_to product_path(product), class: "card mt-4" do %>
						<%= image_tag product.product_image_url, class: "card-img-top", alt: "Card image cap" %>
					  <div class="card-body">
					  	<span class="badge badge-warning"><%= product.category.name %></span>
					    <p class="card-text text-center">
					    	<span><%= product.name %></span><br>
					    	優惠價：<span><%= product.product_price %></span>元
					    </p>
					  </div>
					<% end %>
				</div>
			<% end %>
			<div class="text-center">
				<%= paginate @products %>
			</div>
		</div>
	</div>
</section>
