<section class="admin_goshopping_category">
	<div class="container-fluid">
		<div class="row">
			<div class="admin_menu col-12 col-sm-4 col-md-4 col-lg-2 mt-4">
				<!-- menu -->
				<%= render "menu" %>
			</div>
			<div class="admin_content col-12 col-sm-8 col-md-8 col-lg-10 mt-4">
				<!-- breadcrumb -->
				<%= render "breadcrumb" %>
				<div class="admin_block basic_shadow">
					<!-- tables header -->
					<%= render "admin/shared/admin_table_header" %>
					<div class="admin_table_nav">
						<!-- nav -->
						<%= render "nav" %>
					</div>
					<div class="admin_table_body">
						<!-- table -->
						<%= render "form" %>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</section>