<section class="admin_goshopping_category">
	<div class="container-fluid">
		<div class="row">
			<div class="admin_menu col-12 col-sm-4 col-md-4 col-lg-2 mt-4">
				<!-- menu -->
				<%= render "menu" %>
			</div>
			<div class="admin_content col-12 col-sm-8 col-md-8 col-lg-10 mt-4">
				<!-- breadcrumb -->
				<%= render "breadcrumb" %>
				<div class="admin_block basic_shadow">
					<!-- tables header -->
					<%= render "admin/shared/admin_table_header" %>
					<div class="admin_table_nav">
						<!-- nav -->
						<ul class="nav nav-tabs">
						  <li class="nav-item">
						    <%= link_to admin_categories_path, class: "nav-link" do %>
						      <i class="fas fa-list-ul"></i>List
						    <% end %>
						  </li>
						  <li class="nav-item">
						    <%= link_to new_admin_category_path, class: "nav-link active" do %>
						      <i class="fas fa-plus-square"></i>New category
						    <% end %>
						  </li>
						  <li class="nav-item">
						    <%= link_to "#", class: "nav-link" do %>
						      <i class="fas fa-file-export"></i>Export
						    <% end %>
						  </li>
						</ul>
					</div>
					<div class="admin_table_body">
						<!-- table -->
						<%= render "form" %>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</section>