<% if @product.errors.any? %>
  <h2>We have some errors here !</h2>
  <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for  [:admin, @product] do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :product_price, "Price" %>
  <%= f.text_field :product_price %>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description %>

  <%= f.label :product_image, "Photo" %>
  <%= image_tag @product.product_image_url, width: '300px' if @product.product_image? %>
  <%= f.file_field :product_image %>

  <%= f.submit %>
<% end %>