<section class="mains products_index sidber_breadcrumb">
	<div class="container-fluid">
		<div class="row">
			<!-- left sidebar -->
			<div class="sidebar col-12 col-sm-4 col-md-4 col-lg-2 mt-4">
				<%= render "admin/shared/sidebar" %>
			</div>

			<!-- right content -->
			<div class="sidecontent col-12 col-sm-8 col-md-8 col-lg-10 mt-4">
				<!-- breadcrumb -->
				<%= render "breadcrumb" %>
				
				<div class="widget">
					<!-- tables header -->
					<div class="widget-header">
						<h5 class="mb-0">Tables</h5>
					</div>
					<!-- nav -->
					<ul class="nav nav-tabs">
					  <li class="nav-item">
					    <%= link_to admin_products_path, class: "nav-link active" do %>
					      <i class="fas fa-list-ul"></i>List
					    <% end %>
					  </li>
					  <li class="nav-item">
					    <%= link_to new_admin_product_path, class: "nav-link" do %>
					      <i class="fas fa-plus-square"></i>New product
					    <% end %>
					  </li>
					  <li class="nav-item">
					    <%= link_to "#", class: "nav-link" do %>
					      <i class="fas fa-file-export"></i>Export
					    <% end %>
					  </li>
					</ul>
					<div class="widget-body">
						<%= render "table" %>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</section>